{#
| Variable | Type | Description |
|-------------|--------|------------------------------------------------------------------|
| image | string | Image url |
| url | string | Link url |
| title | string | Section title |
| link_text | String | Link title |
| is_opacity | Bool | Should set overlay on the background or not |
| position | Int | Sorting number start from zero |
#}

<section class="s-block s-block--full-banner s-block--full-bg">
    <div class="full-banner-entry" style="background-image: url({{ image.url }});">
        <div class="overlay h-full w-full {{ is_opacity?'bg-black':'' }} opacity-60 absolute top-0 left-0"></div>
        <div class="relative flex items-center justify-center h-full p-5 xs:p-11">
            <div>
                {% if title %}
                <h2 class="mb-8 text-4xl font-extrabold leading-tight">{{title}}</h2>
                {% endif %}

                {% if url and link_text %}
                <a href="{{ url }}"
                    class="inline-block px-12 py-4 text-2xl font-extrabold text-white transition-all duration-300 border-2 border-white shadow-lg rounded-xl">{{
                    link_text }}</a>
                {% endif %}
            </div>
        </div>
    </div>
</section>